<link rel="stylesheet" href="/css/home.css" />

<div class="home">
   <h1><%= message %></h1>
</div>
<div class="home-btn">
   <button><a href="/users/sign-in">Login</a></button>
   <button><a href="/users/sign-up">SignUp</a></button>
</div>
